<html>

<head>
  <title>Instachan</title>

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<div class="page">
  <img id="instachanLogo" src="images/ic.png">
  <p></p>
  <p></p>
    <form id="signIn">

        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" id="uname">
        <p></p>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw">
        <p></p>
        <input type="submit" value="Log In" id="submit">
    </form>
  <p></p>
  <form action="signup.html">
    <input type="submit" value="Sign Up">
  </form>
</div>
<script type="text/javascript" src="javascripts/signin.js"></script>
</body>

</html>