<html>

<head>
    <title>Instachan::Messages</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/messages.css">
    <script src="javascripts/messages.js"></script>
</head>

<body>
    <div class="page">
        <img id="instachanLogo" src="images/ic.png" alt="Go Home" onclick="goHome()">
        <div>
            <ul id="branches">
                <li><a class="ylo" href="homepage.html">/all</a></li>
                <li><a class="ylo" href="">/anime</a></li>
                <li><a class="ylo" href="">/auto</a></li>
                <li><a class="ylo" href="">/cats</a></li>
                <li><a class="ylo" href="">/cooking</a></li>
                <li><a class="ylo" href="">/dogs</a></li>
                <li><a class="ylo" href="">/memes</a></li>
            </ul>
        </div>
        <div class="inner-border">
            <h2>Messages</h2>
            <hr>
            <ul>
                <li class="message-li" onclick="loadMessage()">
                    <span class="ylo">$Johnathan01</span>:
                    <span class="msg-preview">Hey what's up?</span>
                </li>
                <li class="message-li" onclick="loadMessage()">
                    <span class="ylo">$dje3333</span>:
                    <span class="msg-preview">no i won't spam /cats with car memes</span>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>