<html>
<head>
    <title>Instachan</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="page">

    <img id="instachanLogo" src="images/ic.png" alt="instachan">
    <p></p>
    <form action="/homepage.html">
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*" onchange="loadFile(event)">
        <img id="output" class="center"/>
        <script>
            var loadFile = function(event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function() {
                    URL.revokeObjectURL(output.src) // free memory
                }
            };
        </script>
        <textarea id="textDetails" name="w3review" rows="4" cols="50">
        </textarea>
        <input type="submit" value="Post">
    </form>
    <form action="homepage.html" id="back">
        <input type="submit" value="Back" />
    </form>
</div>
</body>
</html>