<html>
<head>
    <title>Instachan</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="page">

    <img id="instachanLogo" src="images/ic.png" alt="instachan">
 <p>This is the post page</p>

    <div id="respond">

        <script type="text/javascript" src="javascripts/postpage.js"></script>

        <h4 id="writecomment">Write a Comment...</h4>
        <form action="post_comment.php" method="post" id="commentform">
            <label for="comment" class="required"></label>
            <textarea name="comment" id="comment" rows="10" cols = "100"  required="required"></textarea>
            <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
            <input id = "post" name="submit"  type="submit" value="Post" />
        </form>


    </div>
    <a href="homepage.html" class="btn btn-primary">Back</a>
</div>
</body>
</html>