<html>
<head>
    <title>Instachan</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="page">

    <img id="instachanLogo" src="images/ic.png" alt="instachan">

    <div id="branchList">
        <p><a href="homepage.html"><mark class="yellow">/all</mark></a></p>
        <p><mark class="yellow">/</mark>cats</p>
        <p><mark class="yellow">/</mark>computing</p>
        <p><mark class="yellow">/</mark>rit</p>
    </div>


    <input id="search" type="text" placeholder="Search.." />
    <p></p>

    <div id="reportPost">
        <div id="reportPostTitle">
            <p style="font-size:x-large">This is an image of a cat that I found the other day...</p>
            <p style="font-size:large">/cats, 23.1k</p>
        </div>
        <img id="postImage" src="images/kitty.webp" alt="kittyView" style="width:600px;height:400px" class="center">
        <br>
        <div id="reportBlockContainer">
            <div id="reportReason">
                <p style="font-size:large; color:red">Report Reason:</p> <p style="font-size:large; color:white">I hate cats</p>
            </div>
            <div id="reportButtons">
                <img id="approve" src="images/check.png" style="width:50px;height:50px;margin:10px">
                <img id="reject" src="images/cross.png" style="width:50px;height:50px;margin:10px">
            </div>
        </div>
    </div>

    <div id="reportsBar">
        <p>USER REPORTS</p>
        <img id="kittyReport" src="images/kitty.webp" alt="catReport" style="width:150px;height:100px;">
        <p>I Hate Cats</p>
    </div>

    <a href="homepage.html" class="btn btn-primary">Click for Home Page</a>
</div>
</body>
</html>