<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Instachan</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="page">

    <img id="instachanLogo" src="images/ic.png" alt="instachan">

    <div id="branchList">
        <p><a href="homepage.html"><mark class="yellow">/all</mark></a></p>
        <p><mark class="yellow">/</mark>cats</p>
        <p><mark class="yellow">/</mark>computing</p>
        <p><mark class="yellow">/</mark>rit</p>
    </div>


    <input id="search" type="text" placeholder="Search.." />
    <p></p>

    <div id="reportPageContainer">
        <div id="reportPost">
            <div id="reportPostHeader">
                <p id="reportPostTitle">This is an image of a cat that I found the other day...</p>
                <p id="reportPostBranch"><mark class="yellow">/</mark>cats, 23.1k</p>
            </div>
            <img id="postImage" src="images/kitty.webp" alt="kittyView" style="width:600px;height:400px" class="center">
            <br>
            <div id="reportBlockContainer">
                <div id="reportReasonContainer">
                    <p style="color:yellow">Report Reason:</p>
                    <p id="reportReason">I hate cats</p>
                </div>
                <div id="reportButtons">
                    <input
                            width="50px"
                            height="50px"
                            type="image"
                            src="images/check.png"
                            id="approve"
                    />

                    <input
                            width="50px"
                            height="50px"
                            type="image"
                            src="images/cross.png"
                            id="disapprove"
                    />
                    <p id="reportResult"></p>
                </div>
        </div>
    </div>
    </div>

    <div id="reportsBar">
        <p>USER REPORTS</p>
        <img id="kittyReport" src="images/kitty.webp" alt="catReport" style="width:150px;height:100px;">
        <p>I Hate Cats</p>
    </div>

    <a href="homepage.html" class="btn btn-primary">Click for Home Page</a>
</div>

<script type="text/javascript" src="javascripts/reportpage.js"></script>
</body>
</html>