<html>

<head>
  <title>Instachan::Messages</title>

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<div class="page">
  <img id="instachanLogo" src="images/ic.png">
  <p></p>
  <p></p>
  <form id="signUp" action="homepage.html">

    <label for="uname"><b>User Name:</b></label>
    <input type="text" placeholder="User Name" name="uname" id="uname">
    <p></p>

    <label for="email"><b>Email:</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email">
    <p></p>
    <label for="psw"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw">
    <p></p>
    <label for="psw-repeat"><b>Repeat Password:</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat">
    <p></p>
    <input type="submit" value="Sign Up">
  </form>

  <form>

  </form>
</div>
<script type="text/javascript" src="javascripts/signin.js"></script>
</body>

</html>