body {
    color: white;
    font-size: 20px;
}

a:link,
a:visited {
    color: white
}

ul {
    list-style: none;
    padding-left: 0;
}

ul#branches li {
    display: inline;
}

img#instachanLogo:hover {
    opacity: .5;
}

.ylo:hover {
    color: #333;
}

.ylo::first-letter {
    font-weight: bold;
    color: yellow;
}

.inner-border {
    outline-color: black;
    outline-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 60%;
    height: auto;
}

.message-li {
    border-color: black;
    border-width: 0 0 0.05em 0;
    border-style: solid;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

.message-li:hover {
    background-color: #888;
}

.msg-preview {
    color: lightgray;
}