.page {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #454545;
    overflow: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}

body {
    font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
    color: #222;
    padding: 0px;
}

#branchList p{
    font-size: x-large;
    font-family: "Lucida Console", monospace;
    color: white;
    padding: 10px;
    margin: 5px;
}

mark.yellow {
    color: yellow;
    background: none;
}

#search {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#postPreviews {
    text-align: center;
    position: relative;
    margin: auto;
    width: 60%;
    background-color: #606060;
    overflow: auto;
}

#sideBar {
    float: left;
    position: absolute;
    background-color: #C4C4C4;
    top: 25%;
    left: 5%;
}

#reportsBar {
    float: right;
    position: absolute;
    background-color: #C4C4C4;
    top: 25%;
    right: 5%;
}

#reportPost {
    margin: auto;
    width: 50%;
    border: 10px solid black;
    padding: 5px;
    border-radius: 25px;
    background-color: #C4C4C4;
}

#reportBlockContainer {
    text-align: center;
}

#reportBlockContainer > div {
    display: inline-block;
    vertical-align: middle;
}

#reportPostTitle {
    border: 4px solid black;
    border-radius: 25px;
    background-color: #606060;
}

#reportReason {
    height:150px;
    width:375px;
    background-color: #606060;
    padding-left: 10px;
    padding-right: 10px;
}

#reportButtons {
    padding: 30px;
}

#upvote {
    background-color: #606060;
    position: absolute;
    left: 700px;
}

#downvote {
    background-color: #606060;
    position: absolute;
    left: 550px;
}

#karma {
    position: absolute;
    left: 650px;
}

#upvote2 {
    background-color: #606060;
    position: absolute;
    left: 700px;
    margin-bottom: 100px;
}

#downvote2 {
    background-color: #606060;
    position: absolute;
    left: 550px;
    margin-bottom: 100px;
}

#karma2 {
    position: absolute;
    left: 650px;
    margin-bottom: 100px;
}

#upvoteNew {
    background-color: #606060;
    position: absolute;
    left: 700px;
    margin-bottom: 100px;
}

#downvoteNew {
    background-color: #606060;
    position: absolute;
    left: 550px;
    margin-bottom: 100px;
}

#karmaNew {
    position: absolute;
    left: 650px;
    margin-bottom: 100px;
}


form {
    display: inline-block;
}

#writecomment{
  margin-right: 600px;
  margin-bottom: -3px;
  color: white;
}

#respond textarea{
  background-color: grey;
  border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#post{
  color: white;
  background-color: green;
  border-radius: 5px;
}